/*INDEX*/
html, body{margin:0px; padding:0px; font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
a, a:hover{outline:none; text-decoration:underline;}
img{border:0px; padding:0; margin:0;}
#body{height:100%px;}
.header{background:url(../images/header_bg.jpg) top left repeat-x; height:85px;}
.banner{background:url(../images/main_img.jpg) top left no-repeat; width:998px; height:381px;}
.nav{background:url(../images/navigation.jpg) top left no-repeat; width:269px; height:55px;}
.nav2{background:url(../images/nav_header.jpg) top left no-repeat; width:269px; height:38px;}
.nav2_bg{background:url(../images/nav_bg.jpg) top left repeat-x; height:363px;}
.nav2_footer{background:url(../images/nav_footer.jpg) top left no-repeat; width:269px; height:31px;}
.footer{background:url(../images/footer_bg.jpg) top left repeat-x; height:180px;}
.login{background:url(../images/login.jpg) top left no-repeat; width:269px; height:55px;}
.login_header{background:url(../images/login_header.jpg) top left no-repeat; width:269px; height:96px;}
.login_bg{background:url(../images/login_bg.jpg) top left repeat-x; height:280px;}
.divider_login{background:url(../images/divider_login.jpg) top left repeat-x; height:2px;}
.fpass{color:#5CBEFF; font-family:Tahoma, Geneva, sans-serif; font-size:11px;}
	.fpass:hover{color:#5CBEFF; font-family:Tahoma, Geneva, sans-serif; font-size:11px; text-decoration:none;}
.sign_up{background:url(../images/sign_up_a.jpg) top left no-repeat; width:193px; height:46px;}
	.sign_up:hover{background:url(../images/sign_up_b.jpg) top left no-repeat;}
.logout_btn{background:url(../images/logout_btn_a.jpg) top left no-repeat; width:86px; height:30px;}
	.logout_btn:hover{background:url(../images/logout_btn_b.jpg) top left no-repeat;}
.signup_btn{background:url(../images/signup_btn_a.jpg) top left no-repeat; width:93px; height:30px;}
	.signup_btn:hover{background:url(../images/signup_btn_b.jpg) top left no-repeat;}
.user_login_btn{background:url(../images/user_btn_a.jpg) top left no-repeat; width:76px; height:30px;}
	.user_login_btn:hover{background:url(../images/user_btn_b.jpg) top left no-repeat;}
.btm_logo{background:url(../images/footer_logo.png) bottom left no-repeat; width:295px; height:82px;}
.ddos{background:url(../images/ddos_logo.png) bottom right no-repeat; width:120px; height:71px;}
.we_accept{background:url(../images/we_accept.jpg) top left no-repeat; width:259px; height:190px;}
.benefits{background:url(../images/benefits.jpg) top left no-repeat; width:259px; height:233px;}
.sidelinks{background:url(../images/side_links.jpg) top left no-repeat; width:259px; height:202px;}
.link1{width:110px; height:35px; margin:auto; position:relative; top:8px;}
.link2{width:170px; height:35px; margin:auto; position:relative; top:1px;}
.frame{padding:2px; height:830px; width:705px; overflow-x:hidden; overflow-y:hidden; position:absolute;}
.divider{background-color:#999999; height:1px;}
/*WIDTH_HEIGHT*/
.w_1{width:1px;}
.w_2{width:2px;}
.w_100{width:100px;}
.w_120{width:120px;}
.w_130{width:130px;}
.w_160{width:220px;}
.w_180{width:180px;}
.h_15{height:15px;}
.w_269 {width:269px;}
.w_998{width:998px;}
.w_200{width:200px;}
.w_237{width:237px;}
.h_2{height:2px;}
.h_18{height:18px;}
.h_20{height:20px;}
.h_28{height:28px;}
.h_75{height:75px;}
.h_85{height:85px;}
.h_31{height:31px;}
.h_39{height:39px;}
.h_300{height:300px;}
.h_363{height:363px;}
.h_381{height:381px;}
.clear{clear:both;}
.float_l{float:left;}
.float_r{float:right;}
/*PADDING*/
.pad_2_b{padding-bottom:2px;}
.pad_2_t{padding-top:2px;}
.pad_5_t{padding-top:5px;}
.pad_5_l{padding-left:5px;}
.pad_10_r{padding-right:10px;}
.pad_13_t{padding-top:13px;}
.pad_16_t{padding-top:16px;}
.pad_16_b{padding-bottom:16px;}
.pad_20_l{padding-left:20px;}
.pad_20_b{padding-bottom:20px;}
.pad_22_r{padding-right:22px;}
.pad_25_t{padding-top:25px;}
.pad_30_t{padding-top:30px;}
.pad_10{padding:10px;}
.pad_10_b{padding:0px 10px 10px 10px;}
.pad_70_b{padding-bottom:70px;}
.pad_10_t{padding-top:10px;}
.pad_10_l{padding-left:10px;}
.pad_15_t{padding-top:15px;}
.pad_15_b{padding-bottom:15px;}
.pad_20_t{padding-top:20px;}
.pad_40_b{padding-bottom:40px;}
/*TEXT*/
.e_g{font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:#99C7E0;}
.txt_11{font-size:11px; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;}
.txt_13{font-size:13px; font-family:Tahoma, Geneva, sans-serif;}
.txt_hdr{font-size:13px; font-family:Tahoma, Geneva, sans-serif;}
.txtfield_193{width:193px; border:#0154A0 solid 1px; height:29px;}
/*LOGIN*/
.my_account{background:url(../images/my_account_a.jpg) top right no-repeat; width:194px; height:30px;}
	.my_account:hover{background:url(../images/my_account_b.jpg) top right no-repeat;}
.make_deposit{background:url(../images/make_deposit_a.jpg) top right no-repeat; width:194px; height:30px;}
	.make_deposit:hover{background:url(../images/make_deposit_b.jpg) top right no-repeat;}
.withdraw{background:url(../images/withdraw_a.jpg) top right no-repeat; width:194px; height:30px;}
	.withdraw:hover{background:url(../images/withdraw_b.jpg) top right no-repeat;}
.my_deposit{background:url(../images/my_deposit_a.jpg) top right no-repeat; width:194px; height:30px;}
	.my_deposit:hover{background:url(../images/my_deposit_b.jpg) top right no-repeat;}
.deposits_history{background:url(../images/deposit_history_a.jpg) top right no-repeat; width:194px; height:30px;}
	.deposits_history:hover{background:url(../images/deposit_history_b.jpg) top right no-repeat;}
.earning_history{background:url(../images/earning_history_a.jpg) top right no-repeat; width:194px; height:30px;}
	.earning_history:hover{background:url(../images/earning_history_b.jpg) top right no-repeat;}
.withdrawal_history{background:url(../images/withdrawal_history_a.jpg) top right no-repeat; width:194px; height:30px;}
	.withdrawal_history:hover{background:url(../images/withdrawal_history_b.jpg) top right no-repeat;}
.my_referrals{background:url(../images/my_referrals_a.jpg) top right no-repeat; width:194px; height:30px;}
	.my_referrals:hover{background:url(../images/my_referrals_b.jpg) top right no-repeat;}
.referrals_history{background:url(../images/referrals_history_a.jpg) top right no-repeat; width:194px; height:30px;}
	.referrals_history:hover{background:url(../images/referrals_history_b.jpg) top right no-repeat;}
.referral_links{background:url(../images/referral_links_a.jpg) top right no-repeat; width:194px; height:30px;}
	.referral_links:hover{background:url(../images/referral_links_b.jpg) top right no-repeat;}
.edit_account{background:url(../images/edit_account_a.jpg) top right no-repeat; width:194px; height:30px;}
	.edit_account:hover{background:url(../images/edit_account_b.jpg) top right no-repeat;}
.logout_nav{background:url(../images/logout_a.jpg) top right no-repeat; width:194px; height:31px;}
	.logout_nav:hover{background:url(../images/logout_b.jpg) top right no-repeat;}
.signin_btn{background:url(../images/sign_in_b.png) top left no-repeat; height:32px; width:79px;}
	.signin_btn:hover{background:url(../images/sign_in_a.png) top left no-repeat; height:30px; width:79px;}
/*UPPER_TAB*/
.home{background:url(../images/home_a.jpg) top right no-repeat; width:112px; height:55px;}
	.home:hover{background:url(../images/home_b.jpg) top right no-repeat;}
.terms{background:url(../images/terms_a.jpg) top right no-repeat; width:105px; height:55px;}
	.terms:hover{background:url(../images/terms_b.jpg) top right no-repeat;}
.monitors{background:url(../images/monitors_a.jpg) top right no-repeat; width:134px; height:55px;}
	.monitors:hover{background:url(../images/monitors_b.jpg) top right no-repeat;}
.news{background:url(../images/news_a.jpg) top right no-repeat; width:96px; height:55px;}
	.news:hover{background:url(../images/news_b.jpg) top right no-repeat;}
.contact_us{background:url(../images/contact_us_a.jpg) top right no-repeat; width:151px; height:55px;}
	.contact_us:hover{background:url(../images/contact_us_b.jpg) top right no-repeat;}
.faq{background:url(../images/faq_a.jpg) top right no-repeat; width:83px; height:55px;}
	.faq:hover{background:url(../images/faq_b.jpg) top right no-repeat;}
/*LOWER_TAB*/
.btm_home{background:url(../images/btm_home_a.jpg) top right no-repeat; width:78px; height:30px;}
	.btm_home:hover{background:url(../images/btm_home_b.jpg) top right no-repeat;}
.btm_terms{background:url(../images/btm_terms_a.jpg) top right no-repeat; width:86px; height:30px;}
	.btm_terms:hover{background:url(../images/btm_terms_b.jpg) top right no-repeat;}
.btm_monitors{background:url(../images/btm_monitors_a.jpg) top right no-repeat; width:109px; height:30px;}
	.btm_monitors:hover{background:url(../images/btm_monitors_b.jpg) top right no-repeat;}
.btm_news{background:url(../images/btm_news_a.jpg) top right no-repeat; width:78px; height:30px;}
	.btm_news:hover{background:url(../images/btm_news_b.jpg) top right no-repeat;}
.btm_contact_us{background:url(../images/btm_contact_us_a.jpg) top right no-repeat; width:123px; height:30px;}
	.btm_contact_us:hover{background:url(../images/btm_contact_us_b.jpg) top right no-repeat;}
.btm_faq{background:url(../images/btm_faq_a.jpg) top right no-repeat; width:66px; height:30px;}
	.btm_faq:hover{background:url(../images/btm_faq_b.jpg) top right no-repeat;}
/*BUTTONS*/
.go{background:url(../images/go_b.png) top right no-repeat; width:116px; height:38px;}
	.go:hover{background:url(../images/go_a.png) top right no-repeat;}
.request{background:url(../images/request_b.png) top right no-repeat; width:116px; height:38px;}
	.request:hover{background:url(../images/request_a.png) top right no-repeat;}
.spend{background:url(../images/spend_b.png) top right no-repeat; width:116px; height:38px;}
	.spend:hover{background:url(../images/spend_a.png) top right no-repeat;}
.read{background:url(../images/read_b.png) top right no-repeat; width:116px; height:38px;}
	.read:hover{background:url(../images/read_a.png) top right no-repeat;}
.edit{background:url(../images/edit_account_b.png) top right no-repeat; width:116px; height:38px;}
	.edit:hover{background:url(../images/edit_account_a.png) top right no-repeat;}
/*PAGE*/
.page{font-family:Tahoma, Geneva, sans-serif; font-size:13px; font-weight:bold; color:#FFFFFF; vertical-align:middle; padding:5px 0px 5px 5px;}
.clear{clear:both;}
.font_13{font-size:13px;}
.td1{vertical-align:top; color:#666; font-size:13px; background-color:#D7EAF9; padding:5px 15px 5px 10px;}
.td2{vertical-align:top; color:#666; font-size:13px; background-color:#FFFFFF; padding:5px 15px 5px 15px;}
.td3{vertical-align:top; color:#666; font-size:13px; background-color:#08202C; padding:5px 35px 5px 10px; color:#FFFFFF;}
.td4{vertical-align:top; color:#666; font-size:13px; background-color:#BFE2EA; padding:5px 35px 5px 10px; color:#666;}
.select_60{padding:3px; border:#666666 solid 1px; width:60px;}
.select_105{padding:3px; border:#666666 solid 1px; width:105px;}
.select_190{padding:3px; border:#666666 solid 1px; width:190px;}
.txt_area{width:410px; height:150px;}
.bgcolor_ggr{background-color:#0174B3;}
.d_blk{color:#666666;}
	.d_blk:hover{color:#000000; text-decoration:none;}
.blck{color:#000000; text-decoration:underline; font-size:14px;}
.float_l{float:left;}
/*COLOR*/
.color_1{color:#666666;}
.d_blue{background-color:#08202C;}
.p_white{color:#FFFFFF;}
.l_blue{background-color:#D7EAF9}


